<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs/uStorePunchOut2Go.log" />
      <appendToFile value="true" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyy-MM-dd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %5level%newline%logger - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="PunchOut2GoContext" connectionString="Server=.\SQLEXPRESS;Database=PunchOut2GoDb;Pooling=True;uid=sa;pwd=sa;" providerName="System.Data.SqlClient" />
    <add name="uStoreDbContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=uStore;User ID=sa;Password=sa;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="StoreID" value="1047" />
    <add key="CultureID" value="1" />
    <add key="GroupPrefix" value="Punchout2go_" />
    <add key="OrderProductExpirationDays" value="30" />
    <add key="ApiKey" value="EF487a30398d42ec.533089a760d03" />
    <add key="ConfirmationUrl" value="https://connect.punchout2go.com/gateway/order/confirm/id/Um573f33c3eb627" />
    <add key="PickupAddressID" value="10033"  />
    <add key="AdminUserName" value="admin@ustoredomain.com" />
    <!--<add key="AdminUserName" value="connect@ustoreconnect.com" />-->
    <add key="AdminPassword" value="admin" />
    <!--<add key="AdminPassword" value="connect" />-->
    <!--<add key="HomePageGroupId" value="1047" />-->
    <add key="HomePageGroupId" value="11098" />
    <add key="HomePageGroupShowSubGroups" value="true" />
    <!-- 
          DisplayProductNameFormat
          SubmitPOProductNameFormat
          {0} = Name 
          {1} = Catalog No
     -->
    <add key="DisplayProductNameFormat" value="{0} - {1}" />
    <add key="SubmitPOProductNameFormat" value="{0} ({1})" />
    <add key="ShowProductSearch" value="True" />
    <add key="ShowPopUpSearch" value="False" />
    <!-- 
          Enable and Disable only with instruction, cuz for this function have to do change from uStore side
     -->
    <add key="TaxCalculation" value="False" />
    <add key="SharedDirectory" value="\\avpestriakov\uStoreShared" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="uStorePunchOut2Go.Service.Service">
        <endpoint address="" behaviorConfiguration="webServiceBehaviour" binding="webHttpBinding" contract="uStorePunchOut2Go.Logic.BLL.Base.IService" />
        <endpoint address="" behaviorConfiguration="webServiceBehaviour" binding="webHttpBinding" bindingConfiguration="httpsBinding" contract="uStorePunchOut2Go.Logic.BLL.Base.IService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webServiceBehaviour">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="uStoreBinding" maxReceivedMessageSize="2147483647" />
        <binding name="CultureWSSoap" />
        <binding name="ProductWSSoap" />
        <binding name="ProductPropertyWSSoap" />
        <binding name="PermissionsWSSoap" />
        <binding name="CurrencyWSSoap" />
        <binding name="LocalizationWSSoap" />
        <binding name="OrderProductWSSoap" />
        <binding name="OrderWSSoap" />
        <binding name="ProductGroupWSSoap" />
        <binding name="ProductionWSSoap" />
        <binding name="StoreWSSoap" />
        <binding name="TriggerWSSoap" />
        <binding name="UserGroupWSSoap" />
        <binding name="UserWSSoap" />
        <binding name="CustomizationStepWSSoap" />
        <binding name="CustomizationDialWSSoap" />
        <binding name="DocumentWSSoap" />
        <binding name="TaxWSSoap" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="httpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/uStoreWSAPI/CultureWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="CultureWS.CultureWSSoap" name="CultureWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/CurrencyWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="CurrencyWS.CurrencyWSSoap" name="CurrencyWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/LocalizationWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="LocalizationWS.LocalizationWSSoap" name="LocalizationWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/OrderProductWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="OrderProductWS.OrderProductWSSoap" name="OrderProductWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/OrderWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="OrderWS.OrderWSSoap" name="OrderWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/ProductGroupWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="ProductGroupWS.ProductGroupWSSoap" name="ProductGroupWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/ProductionWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="ProductionWS.ProductionWSSoap" name="ProductionWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/ProductWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="ProductWS.ProductWSSoap" name="ProductWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/StoreWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="StoreWS.StoreWSSoap" name="StoreWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/TriggerWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="TriggerWS.TriggerWSSoap" name="TriggerWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/UserGroupWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="UserGroupWS.UserGroupWSSoap" name="UserGroupWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/UserWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="UserWS.UserWSSoap" name="UserWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/PermissionsWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="PermissionsWS.PermissionsWSSoap" name="PermissionsWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/CustomizationDialWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="CustomizationDialWS.CustomizationDialWSSoap" name="CustomizationDialWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/CustomizationStepWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="CustomizationStepWS.CustomizationStepWSSoap" name="CustomizationStepWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/ProductPropertyWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="ProductPropertyWS.ProductPropertyWSSoap" name="ProductPropertyWSSoap" />
      <endpoint address="http://localhost/uStoreWSAPI/TaxWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="uStoreBinding"
        contract="TaxWS.TaxWSSoap" name="TaxWSSoap" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>